<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DoorLockGUI.Gui" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="Code1" value="123456" />
    <add key="Code2" value="987654321" />
    <add key="Code3" value="000000000" />
    <add key="LockOutTime" value="10" />
  </appSettings>
  <userSettings>
    <DoorLockGUI.Gui>
    </DoorLockGUI.Gui>
  </userSettings>
</configuration>