<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DoorLockCore.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DoorLockCore.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="Code1" value="123456" />
    <add key="Code2" value="987654321" />
    <add key="Code3" value="000000000" />
    <add key="LockOutTime" value="10" />
  </appSettings>    
  <userSettings>
    <DoorLockCore.Properties.Settings>
      <setting name="LockOutTime" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="CodeAttempts" serializeAs="String">
        <value>3</value>
      </setting>
    </DoorLockCore.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <DoorLockCore.Settings1>
      <setting name="Code1" serializeAs="String">
        <value>123456</value>
      </setting>
      <setting name="Code2" serializeAs="String">
        <value>987654321</value>
      </setting>
      <setting name="Code3" serializeAs="String">
        <value>000000000</value>
      </setting>
    </DoorLockCore.Settings1>
  </applicationSettings>
</configuration>